
*.bak
Debug/
GeneratedFiles/
_UpgradeReport_Files
*.exe
*.ilk
*.pdb
*.suo
*.ncb
*.user
*.tlog
*.obj
*.manifest
*.sdf
*.ipch
*.log
*.lastbuildstate
*.opensdf
Bak/
Res/
/charset-conversion/65536-fanti.txt
/charset-conversion/65536.txt
/image-process/tmp.png
/masm32/my-lib-dialog.lib