
/Debug/BuildLog.htm
/Debug/bubble-sort.obj
/Debug/mt.dep
/Debug/quick-sort.obj
/Debug/tester.exe.intermediate.manifest
/Debug/vc90.idb
/Debug/vc90.pdb
/bubble-sort.cpp.bak
/quick-sort.cpp.bak
/test.ncb
/test.suo
/test.vcproj.hcf-PC.hcf.user
/tester.exe
/tester.ilk
/tester.pdb
/Debug/algorithms-sort.obj
/Debug/heap-sort.obj
/Debug/merge-sort.obj
/merge-sort.cpp.bak
/charset-conversion/65536-fanti.txt
/charset-conversion/65536.txt
/Debug/test.log
/Debug/tester.lastbuildstate
/Debug/vc100.pdb
/UpgradeLog.XML
/_UpgradeReport_Files/UpgradeReport.css
/_UpgradeReport_Files/UpgradeReport.xslt
/_UpgradeReport_Files/UpgradeReport_Minus.gif
/_UpgradeReport_Files/UpgradeReport_Plus.gif
/ipch/test-703ca0e5/tester-84cdcae3.ipch
/test.sdf
/test.sln.old
/test.suo.old
/test.vcxproj.filters
/test.vcxproj.user
*.opensdf