
/Debug/BuildLog.htm
/Debug/mt.dep
/Debug/mygit.exe.intermediate.manifest
/Debug/mygit.obj
/Debug/mygit.pch
/Debug/stdafx.obj
/Debug/vc90.idb
/Debug/vc90.pdb
/GoodbyeWorld-colliding.exe
/HelloWorld-colliding.exe
/Microsoft.VC90.DebugCRT.manifest
/msvcm90d.dll
/msvcp90d.dll
/msvcr90d.dll
/mygit.db
/mygit.exe
/mygit.ilk
/mygit.ncb
/mygit.pdb
/mygit.suo
/mygit.vcproj.hcf-PC.hcf.user
/pic.db
/test-fast-ignore.cmd
/test-mygit-pic.cmd
/test.cmd
/÷–Œƒ ≤‚ ‘.txt
*.db
/mygit.cpp.bak
/test.jpg
/Microsoft.VC90.CRT.manifest
/msvcm90.dll
/msvcp90.dll
/msvcr90.dll
/Release/BuildLog.htm
/Release/mt.dep
/Release/mygit.exe.intermediate.manifest
/Release/mygit.obj
/Release/stdafx.obj
/Release/vc90.idb